@import "./mixins.scss";

.about {
  // display:flex;
}

img {
  background-color: gray;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 0;
  width: 100%;
}

.about {
  &-photo {
    // width: 100%;
  }

  &-photo-caption {
    font-style: italic;
    opacity: 0.6;
    text-align: center;
  }

  &-description {
    width: 100%;
    // @include breakpoint('medium') {
    //     width: 60%;
    // }
  }
}
