@import "./mixins.scss";

.nav-contact {
  background-color: salmon;
}

.contact {
  color: salmon;
  align-items: right;

  .word {
    display: block;
  }

  .email {
    display: none;
  }
  .contact-molecule {
    display: none;
    margin-top: -27px;
  }

  &:hover {
    .word {
      display: none;
    }
    .email,
    .contact-molecule {
      display: block;
    }
  }
}

.copy-icon,
.external-icon {
  height: 20px;
}
