@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --maxWidth: 700px;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  margin-left: 45px;
  margin-right: 45px;

  @include breakpoint("medium") {
    margin-left: auto;
    margin-right: auto;
    width: var(--maxWidth);
  }
}

header {
  align-items: center;
  display: flex;
  height: spacing-get-value("large");
  justify-content: space-between;
  text-transform: uppercase;

  @include breakpoint("medium") {
    height: spacing-get-value("jumbo");
  }
}

span {
  color: #212121;
  display: inline-block;
  position: relative;
  text-decoration: none;
  // width: 100%;

  &:before {
    background: rgba(49, 26, 24, 0.1);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 0;
    // -webkit-transition: width 0s ease,background .4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
  &:after {
    background: rgba(49, 26, 24, 0.2);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 100%;
    // -webkit-transition: width 0s ease,background .4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  // padding-left: spacing-get-value("large");
  width: 50%;
  // text-transform: uppercase;
}

.border-top {
  border-top: 1px solid #bfbfbf;
  padding-top: 5px;
  margin-top: 50px;
}

a {
  &:-webkit-any-link {
    text-decoration: none;
    color: black;
  }
}

img {
  max-width: var(--maxWidth);
}

.footer {
  background-color: linen;
}

.about {
  // display:flex;
}

img {
  background-color: gray;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 0;
  width: 100%;
}

.about {
  &-photo {
    // width: 100%;
  }

  &-photo-caption {
    font-style: italic;
    opacity: 0.6;
    text-align: center;
  }

  &-description {
    width: 100%;
    // @include breakpoint('medium') {
    //     width: 60%;
    // }
  }
}

.archives-header {
  font-size: 20px;
}
.archives {
  margin: spacing-get-value("small") 0;
  @include breakpoint("medium") {
    margin: spacing-get-value ("medium") 0;
  }
}

.archive {
  margin: spacing-get-value("small") 0;
  @include breakpoint("medium") {
    margin: spacing-get-value ("medium") 0;
  }
}
