@import "./mixins.scss";
// @import url("https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap");

:root {
  --maxWidth: 800px;
  --colorHex: #ed7d31;
  --colorRGB: 237, 125, 49;
  --colorGray: 38, 49, 55;
  --colorLight: #ffffff;
  --colorDark: #000000;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
  color: var(--colorDark);

  & button {
    color: var(--colorLight);
  }
}

.container {
  width: percentage(10/12);
  margin-left: auto;
  margin-right: auto;

  @include breakpoint("medium") {
    max-width: var(--maxWidth);
  }
}

button {
  @include type("copy");
  background-color: var(--colorDark);
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--colorLight);
  cursor: pointer;
  letter-spacing: 0.06em;
  outline: none;
  text-shadow: 0 1px 0 var(--colorDark);
  transition: 0.4s ease;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.button {
  &--contact {
    margin: 0 10px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &--project {
    display: flex;
    margin-bottom: 0;
    padding: 0.75rem 3rem;
    text-transform: uppercase;
  }

  &--scroll {
    background-color: rgba(var(--colorGray), 0.5);
    border-radius: 50%;
    border: none;
    bottom: 10px;
    color: var(--colorDark);
    height: 45px;
    opacity: 0.3;
    padding-top: 7px;
    position: fixed;
    right: percentage(1/12);
    transition: 0.4s ease;
    width: 45px;

    &:hover {
      color: var(--colorLight);
      background-color: rgba(var(--colorGray), 1);
    }

    @include breakpoint("medium") {
      right: percentage(1/24);
    }
  }
}
img {
  background-color: transparent;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 0;
  width: 100%;
}

span,
.active {
  display: inline-block;
  position: relative;
  color: #212121;

  &:hover {
    color: #212121;

    &:before {
      width: 100%;
      -webkit-transition: width 0.4s ease;
      transition: width 0.4s ease;
    }

    &:after {
      width: 100%;
      background: rgba(var(--colorRGB), 0.2);
      -webkit-transition: width 0.4s ease;
      transition: width 0.4s ease;
    }
  }

  &:before {
    background: rgba(var(--colorRGB), 0.1);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 0;
    -webkit-transition: width 0s ease, background 0.4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
  &:after {
    background: rgba(var(--colorRGB), 0.2);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 100%;
    -webkit-transition: width 0s ease, background 0.4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
}

// ----------------- UNIVERSAL ----------------- //

.image-caption {
  @include type("copy");
  color: rgba(var(--colorGray), 1);
  font-style: italic;
  margin: 0;
  text-align: center;
}

.title {
  @include type("copy");
}

h1 {
  @include type("title-1");
}
h2 {
  @include type("title-2");
}
h3 {
  @include type("title-3");
}
h4 {
  @include type("title-4");
}
p {
  @include type("copy");
}
// ----------------- NAVIGATION ----------------- //

.headroom-wrapper {
  margin-bottom: spacing-get-value("large") !important;
  @include breakpoint("medium") {
    margin-bottom: spacing-get-value("jumbo") !important;
  }
}

.headroom {
  background-color: var(--colorLight);
  max-width: var(--maxwidth);
  border-bottom: 1px solid rgba(var(--colorGray), 0.05);
}

header,
footer {
  @include type("copy");
  margin: 0 auto;
  max-width: var(--maxWidth);
  width: percentage(10/12);
  letter-spacing: 0.06em;

  & a {
    text-decoration: none;
  }

  & li {
    padding: 0.75rem 0;
  }

  & ul {
    list-style: none;
    overflow: hidden;
  }

  @include breakpoint("medium") {
    & li {
      margin-left: spacing-get-value("small");
    }
  }
}

.site-title {
  padding: 20px 0 19px;

  @include breakpoint("medium") {
    padding: 0;
  }
}

.resume-mobile {
  display: block;
  @include breakpoint("large") {
    display: none;
  }
}

.resume-desktop {
  display: none;
  @include breakpoint("large") {
    display: block;
  }
}

.header {
  align-items: center;
  height: 60px;
  justify-content: space-between;
  text-transform: uppercase;

  @include breakpoint("medium") {
    display: flex;
    height: 80px;
  }

  & .menu {
    clear: both;
    max-height: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 15px;

    @include breakpoint("medium") {
      display: flex;
      max-height: none;
    }
  }

  & .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 0;
    position: absolute;
    right: percentage(1/24);
    top: 0;
    user-select: none;

    @include breakpoint("medium") {
      display: none;
    }
  }

  & .navicon {
    background: var(--colorDark);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 24px;

    &:before,
    &:after {
      background: var(--colorDark);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }

    &:before {
      top: 7px;
    }

    &:after {
      top: -7px;
    }
  }

  & .menu-btn {
    display: none;

    &:checked ~ .menu {
      background: var(--colorLight);
      height: 100vh;
      max-height: 100vh;
      // margin-top: 0;
      transition: max-height 0.2s ease-in;

      @include breakpoint("medium") {
        border: none;
      }
    }

    &:checked ~ .menu-icon {
      & .navicon {
        background: transparent;

        &:before {
          transform: rotate(-45deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }

      &:not(.steps) .navicon {
        &:before,
        &:after {
          top: 0;
        }
      }
    }
  }
}

// ----------------- FOOTER ----------------- //
.footer {
  // border-top: 1px solid salmon;
  border-top: 1px solid rgba(var(--colorGray), 0.05);
  margin: spacing-get-value("large") auto;
  padding-top: spacing-get-value("large");
  text-align: center;

  @include breakpoint("medium") {
    // display: flex;
    margin: spacing-get-value("jumbo") auto;
    padding-top: spacing-get-value("jumbo");
    justify-content: space-between;
  }
  &--text {
    width: 65%;
  }

  & li:first-child {
    padding-top: 0;
  }
  & ul {
    margin: 0;
    padding: 0;
  }
  & svg {
    padding-right: spacing-get-value("micro");
    &:last-child {
      padding-right: 0;
    }
  }
}

.social {
  margin-top: 1.5em;
  a {
    padding-right: spacing-get-value("micro");

    &:last-child {
      padding-right: 0;
    }
  }
}
// ----------------- WORK ----------------- //
.home {
  margin: spacing-get-value("large") 0;

  @include breakpoint("medium") {
    margin: spacing-get-value("jumbo") 0;
  }
}

.blurb {
  @include type("copy");
}

.block {
  margin: spacing-get-value("large") 0;
  width: 100%;

  @include breakpoint("medium") {
    margin: spacing-get-value("jumbo") 0;
  }
}

// ----------------- PROJECT ----------------- //
.project {
  border-top: 1px solid rgba(var(--colorGray), 0.05);
  padding: spacing-get-value("large") 0;

  &:first-of-type {
    border-top: 0;
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @include breakpoint("medium") {
    padding: spacing-get-value("jumbo") 0;

    h2 {
      margin-top: 0;
    }
  }
}

.info {
  @include breakpoint("medium") {
    display: flex;

    img {
      height: 100%;
      margin-right: spacing-get-value("medium");
      width: 65%;
    }
  }
}

.reverse {
  flex-direction: row-reverse;

  &.info {
    @include breakpoint("medium") {
      img {
        margin-left: spacing-get-value("medium");
        margin-right: 0;
      }
    }
  }
}

// ----------------- CASE STUDY ----------------- //
ul,
ol {
  padding-inline-start: 1em;
}

// ----------------- ARCHIVE ----------------- //

.archives {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.archive {
  margin-bottom: spacing-get-value("small");

  @include breakpoint("medium") {
    margin-bottom: spacing-get-value("medium");
  }
}

// ----------------- ABOUT CONCISE ----------------- //
.about-concise {
  @include type("copy");
}

// ----------------- ABOUT ----------------- //

.facts {
  margin: spacing-get-value("medium") 0;

  @include breakpoint("medium") {
    margin: spacing-get-value("large") 0;
  }
}
// ----------------- CONTACT ----------------- //

.contact {
  position: relative;

  .contact-molecule {
    opacity: 0;
    position: absolute;
    top: -28px;
    left: 7px;
  }

  .email,
  .contact-molecule {
    transition: 0.4s ease;
  }

  &:hover {
    cursor: pointer;
    color: var(--colorHex);
    .email {
      opacity: 1;
    }
    @include breakpoint("medium") {
      .contact-molecule {
        opacity: 1;
      }
    }
  }
}
