@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --maxWidth: 700px;
  --colorHex: #ed7d31;
  --colorRGB: 237, 125, 49;
}

html {
  font-family: "Roboto", sans-serif;
}
a {
  &:-webkit-any-link {
    color: black;
  }

  background-color: transparent;
}

body {
  margin-left: 45px;
  margin-right: 45px;

  @include breakpoint("medium") {
    margin-left: auto;
    margin-right: auto;
    width: var(--maxWidth);
  }
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}

img {
  // max-width: var(--maxWidth);
  background-color: white;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 0;
  width: 100%;
}

li {
  list-style-type: none;
}

span,
.active {
  display: inline-block;
  position: relative;
  color: #212121;

  &:hover {
    color: #212121;

    &:before {
      width: 100%;
      -webkit-transition: width 0.4s ease;
      transition: width 0.4s ease;
    }

    &:after {
      width: 100%;
      background: rgba(var(--colorRGB), 0.2);
      -webkit-transition: width 0.4s ease;
      transition: width 0.4s ease;
    }
  }

  &:before {
    background: rgba(var(--colorRGB), 0.1);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 0;
    -webkit-transition: width 0s ease, background 0.4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
  &:after {
    background: rgba(var(--colorRGB), 0.2);
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    bottom: 1px;
    height: 30%;
    width: 100%;
    -webkit-transition: width 0s ease, background 0.4s ease;
    transition: width 0s ease, background 0.4s ease;
  }
}

// ----------------- UNIVERSAL ----------------- //
.title {
  font-size: 18px;
  margin-bottom: spacing-get-value("small");
}

.image-caption {
  color: var(--colorHex);
  opacity: 0.8;
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

// ----------------- NAVIGATION ----------------- //
header {
  align-items: center;
  display: flex;
  height: spacing-get-value("large");
  justify-content: space-between;

  @include breakpoint("medium") {
    height: spacing-get-value("jumbo");
  }

  & a {
    text-decoration: none;
  }
}

.navigation {
  display: flex;

  & li {
    margin-left: spacing-get-value(small);
  }
}

// ----------------- FOOTER ----------------- //
.footer {
  //   background-color: linen;
}

// ----------------- WORK ----------------- //
.showcase {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint("medium") {
    flex-direction: row;
  }
}

.block {
  margin: spacing-get-value("small") 0;
  width: 100%;

  @include breakpoint("medium") {
    flex-direction: row;
    margin: spacing-get-value("medium") 0;
    width: 45%;
  }
}

// ----------------- CASE STUDY ----------------- //
.ULlist {
  //   color: salmon;
}

// ----------------- ARCHIVE ----------------- //
.archive {
  margin: spacing-get-value("small") 0;
  @include breakpoint("medium") {
    margin: spacing-get-value ("medium") 0;
  }
}

// ----------------- ABOUT ----------------- //
.about {
  &-description {
    width: 100%;
    // @include breakpoint('medium') {
    //     width: 60%;
    // }
  }
}
// ----------------- CONTACT ----------------- //

.contact {
  .word {
    display: block;
  }

  .email {
    display: none;
  }
  .contact-molecule {
    display: none;
    margin-top: -27px;
    margin-left: 35px;
  }

  &:hover {
    color: var(--colorHex);
    .word {
      display: none;
    }
    .email,
    .contact-molecule {
      display: flex;
    }
  }
}
