@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

// !global allows us to scope different sets of settings within the list

$-breakpoints: (
  base: 0,
) !default !global;

@mixin breakpoint-set($breakpoint-name, $min-width) {
  $-breakpoints: map-merge(
    $-breakpoints,
    (
      $breakpoint-name: $min-width,
    )
  ) !global;
}

@mixin breakpoint($value: 0) {
  $min-width: map-get($-breakpoints, $value) or $value;
  @if $min-width > 0 {
    @media only screen and (min-width: #{$min-width}) {
      @content;
    }
  } @else {
    @content;
  }
}

/*** SPACING ***/
$-spacing: () !default !global;

@mixin spacing-set($spacing-name, $value) {
  $-spacing: map-merge(
    $-spacing,
    (
      $spacing-name: $value,
    )
  ) !global;
}

@function spacing-get-value($spacing-name) {
  @if map-has-key($-spacing, $spacing-name) {
    @return map-get($-spacing, $spacing-name);
  } @else {
    @warn 'No spacing of #{$spacing-name} found.';
  }
}

// Default Settings
// =============================================================================
$output-classes: true !default;

// Default Breakpoints
// =============================================================================
@include breakpoint-set(small, 375px);
@include breakpoint-set(medium, 736px);
@include breakpoint-set(large, 1024px);

// Default Spacing Sizes
// =============================================================================
@include spacing-set(none, 0);
@include spacing-set(micro, 10px);
@include spacing-set(small, 20px);
@include spacing-set(medium, 30px);
@include spacing-set(large, 50px);
@include spacing-set(jumbo, 100px);
